<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{{url_for('auth.signup')}}" method="POST">
      <p>Nome:</p>
      <input name="nome" type="text" />
      <p>Email:</p>
      <input name="email" type="text" />
      <p>Senha:</p>
      <input name="senha" type="password" />
      <p>Tecnologias:</p>
      <input name="tecnologia" type="text" />
      <p>Idiomas:</p>
      <input name="idiomas" type="text" />
      <p>Bio:</p>
      <input name="bio" type="text" />

      <button type="submit">Cadastro</button>
    </form>
  </body>
</html>
